.wrapperBooking {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.bookingForm {
    min-width: 600px;
}

.wrapperBookingInfo {
    min-height: 100vh;
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    text-align: justify;
}

.wrapper > div {
    margin-bottom: 1rem;
}

.bookingImg {
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
}

h1 {
    color: rgb(255, 102, 0);
}

@media only screen and (max-width: 600px) {
    .wrapperBookingInfo {
        margin: auto;
        width: 95%;
    }
    .bookingForm {
        margin: auto;
        min-width: 95%;
    }
}