

.main {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), 
        url("imgs/cover5.jpg") center center no-repeat;
    background-color: black;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    color: white;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.shadowBoxDiv {
    padding: 24px;
    margin: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 15px;
}

.sideNavigation {
    position: fixed;
    top: 0;
    margin: 200px 10px;
    display: flex;
    flex-direction: column;
}


/* Animation of two homepage buttons */
@keyframes fadein {
    from { opacity: 0; margin-left: 100px;}
    to   { opacity: 1;}
}

.button {
    border: 3px solid #f77700;
    padding: 1rem;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background: none;
    outline: none;
    font-size: 1.5rem;
    background: rgba(0,0,0,0.6);
    width: 300px;
    margin: 0.5rem;
    animation: fadein 1s;
}
  
.button:hover {
    border: 3px solid #f74e00;
    cursor: pointer;
}


/* Events on home page */
.events {
    background: linear-gradient(
        rgba(250, 250, 250, 0.95), rgba(250, 250, 250, 0.88)), 
        url("imgs/cover6.jpg") center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    padding: 3.5rem 0;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
}

.events > div {
    margin: 2rem 0;
}

/* Event container = event list + left arrow + right arrow */
.eventsContainer {
    display: flex;
    flex-direction: row;
}

.eventsContainer > div {
    margin: 0 1rem;
}

.eventsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    width: 1000px;
    scroll-behavior: smooth;
}

/* Day of month with multiple events */
.eventDay {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.025);
    padding: 2rem;
    width: 250px;
}

.eventDate {
    color:rgba(0, 0, 0, 0.75);
    font-weight: bold;
    font-size: larger;
}

.eventDayName {
    color:rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
}

.event {
    background-color: white;
    padding: 0.5rem;
    border: 1px solid orangered;
    border-radius: 5px;
    margin: 0.5rem 0;
    color: rgba(0, 0, 0, 0.7);
}

.event:hover {
    background-color: rgb(255, 123, 0);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.eventPrice {
    font-weight: bold;
    text-align: right;
    font-size: x-large;
    color: rgb(34, 202, 180);
}

.filters {
    display: flex;
    justify-content: center;
    width: 100%;
}

.filters > div {
    padding: 0 25px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.7)
}

/* Texts */
.textDanger {
    color: darkred;
}


/* Alerts */
.alertWarning {
    border: 1px solid #f77700;
    border-radius: 5px;
    background-color: bisque;
    color:rgba(0, 0, 0, 0.7);
    padding: 1rem
}


/* Arrange -> third element wrapper of the home page */
.arrange {
    background: linear-gradient(
        rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01)), 
        url("imgs/cover6.jpg") center center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding: 5rem 0;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid white;
    font-size: 1.1rem;
}

.demandForm {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.623);
    width: 800px;
    padding: 2rem 0;
}

.demandForm > h1 {
    text-align: center;
}

/* Rent image div */
.rentImgsWrapper {
    overflow: auto;
    height: 65vh;
    width: 1000;
}
.rentImgsDiv {
    margin: 'auto';
    width: 820;
}

/* Events for the small (cell phone) screen */
@media only screen and (max-width: 600px) {
    .events {
      padding: 0.25rem;
    }
    .events > div {
        padding: unset;
    }
    .filters > div {
        padding: 0 2px;
        font-weight: unset;
        color:rgba(0, 0, 0, 0.7)
    }
    .selectorHiddenSmallScr { 
        visibility: hidden;
        display: none;
    } 
    .demandForm {
        width: 100%;
        padding: 0 75px;
        background: rgba(255, 255, 255, 0.9);
    }
    .rentmain {
        height: 400px !important;
    }
    .shadowBoxDiv {
        width: 95% !important;
        margin-top: 25px !important;
    }
    .rentImgsWrapper {
        overflow: auto;
        height: 70vh;
        width: 100%;
    }
    .rentImgsDiv {
        margin: 'auto'; 
        width: 98%;
        text-align: center;
    }
    .locationBtn {
        font-size: 12px !important;
    }
    .sideNavigation {
        position: fixed;
        top: unset;
        bottom: 0;
        margin: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .sideNavigation > button {
        margin: 5px;
    }
    .eventsList {
        overflow-x: hidden;
        width: 100%;
        scroll-behavior: smooth;
    }
}

.spinner {
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    justify-content: center;
    background: rgba(0,0,0,0.75);
    z-index: 1;
    color:rgb(255, 230, 0);
    font-size: 2rem;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
}

.locationBtnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.locationBtn {
    width: 19%;
    font-size: large;
    font-weight: bold;
    padding: 10px 0;
    background-color: black;
    color: wheat;
    outline: none;
    border-radius: 5px;
    border: none;
}

.mymessage {
    margin-top: 5rem;
}

/* other pages - main content - about, contact, general conditions ... */
.main-other-pages {
    padding: 75px 25px;
    background-color: rgb(255, 239, 217);
    min-height: 100vh;
    overflow: auto;
    font-size: 16px;
    text-align: justify;
}